<div class="row">
    <div class="col-8 m-auto">
        <form [formGroup]="formGroupAluno">
            <div class="mb-3">
                <div class="display-6 text-center">
                    Cadastro de Alunos
                </div>
                <label for="name" class="form-label">Nome:</label>
                <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Coloque seu Nome">
                <div *ngIf="submitted && nome.invalid">
                    <small class="text-danger">Nome Invalido!</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="idade" class="form-label">Idade:</label>
                <input type="number" formControlName="idade" class="form-control" id="idade" placeholder="Coloque sua Idade">
                <div *ngIf="submitted && idade.invalid">
                    <small class="text-danger">Idade Invalida!</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço:</label>
                <input type="number" formControlName="endereco" class="form-control" id="endereco" placeholder="Coloque seu Endereço:">
                <div *ngIf="submitted && endereco.invalid">
                    <small class="text-danger">Endereço Invalido!</small>
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-dark me-1" (click)="save()">Salvar</button>
                <button class="btn btn-warning" (click)="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>